<?xml version="1.0"?>
<launch>
    <!-- Launch empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- Load the robot description file-->
    <param name="robot_description" command="$(find xacro)/xacro  '$(find panda_multiple_arms)/robot_description/panda_multiple_arms.xacro'" />

    <!-- Spawn the robot over the robot_description param-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model panda_multiple_arms" />

    <!--  Optional: Spawn the robot at specific pause use the below spawner args, and set the above paused arg to true. This initial pose should correspond to the initial pose in the robot srdf-->
    <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model panda_multiple_arms
    -J right_arm_joint1 0.0
    -J right_arm_joint2 -0.785
    -J right_arm_joint3 0.0
    -J right_arm_joint4 -2.356
    -J right_arm_joint5 0.0
    -J right_arm_joint6 1.571
    -J right_arm_joint7 0.785
    -J left_arm_joint1 0.0
    -J left_arm_joint2 -0.785
    -J left_arm_joint3 0.0
    -J left_arm_joint4 -2.356
    -J left_arm_joint5 0.0
    -J left_arm_joint6 1.571
    -J left_arm_joint7 0.785
    -unpause"/> -->

</launch>