<?xml version="1.0"?>
<robot name="panda_multiple_arms" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="arm_id_1" default="rgt_arm" />
    <xacro:arg name="arm_id_2" default="lft_arm" />

    <xacro:include filename="$(find franka_description)/robots/utils.xacro"/>
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
    <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

    <!-- box shaped table as base for the 2 Pandas -->
    <link name="base">
        <visual>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <geometry>
            <box size="1 2 1" />
        </geometry>
        <material name="White">
            <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
        </visual>
        <collision>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <geometry>
            <box size="1 2 1" />
        </geometry>
        </collision>
    </link>

    <!-- right arm with gripper -->
    <xacro:panda_arm arm_id="$(arg arm_id_1)" connected_to="base"  xyz="0 -0.5 1" gazebo="true" safety_distance="0.03"/>
    <xacro:hand arm_id="$(arg arm_id_1)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_1)_link8" gazebo="true" safety_distance="0.03"/>

    <!-- left arm with gripper -->
    <xacro:panda_arm arm_id="$(arg arm_id_2)" connected_to="base"  xyz="0 0.5 1" gazebo="true"  safety_distance="0.03"/>
    <xacro:hand arm_id="$(arg arm_id_2)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id_2)_link8" gazebo="true" safety_distance="0.03"/>
    
</robot>
